.app-container .content-container .side-menu .navbar-header .navbar-brand .logo-icon-container {
  width: 100%;
  height: auto;
}

.voyager .side-menu .navbar-header {
  background: #fff;
}

/** Menu Changes **/

.voyager .side-menu.sidebar-inverse {
  background: #00803d;
}

.voyager .side-menu.sidebar-inverse .navbar li > a {
  color: #FFF;
}

.voyager .side-menu.sidebar-inverse .navbar li.active > a {
  background: #353d47;
}

