@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hqg8a7');
  src:  url('fonts/icomoon.eot?hqg8a7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hqg8a7') format('truetype'),
    url('fonts/icomoon.woff?hqg8a7') format('woff'),
    url('fonts/icomoon.svg?hqg8a7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 35px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-construction:before {
  content: "\e900";
  color: #cca25e;
}
.icon-Group:before {
  content: "\e901";
  color: #cca25e;
}
.icon-Housing:before {
  content: "\e902";
  color: #cca25e;
}
.icon-investor:before {
  content: "\e903";
  color: #cca25e;
}
.icon-SME:before {
  content: "\e904";
  color: #cca25e;
}
