$primary_color: #00803d;
$bg_color: #fafafa;
$text_color_black: #242e4c;
$font_16: 1.6rem;
$arial: "Arial";

body {
    font-family: $arial;
    font-size: $font_16;
    background-color: $bg_color;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}
.section-header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: rgb(121, 127, 134);
    text-transform: capitalize;
    @include MQ(S) {
        font-size: 25px;
        line-height: 30px;
    }
}
.section-para {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #797f86;
    margin: 20px 0;
    @include MQ(S) {
        margin: 10px 0;
        font-size: 15px;
        line-height: 15px;
    }
}
.color-white {
    color: #ffffff;
}

.main-body {
    padding-top: 87.25px;
}

.padding-35 {
    padding: 3rem 5rem;
    @include MQ(L) {
        padding: 3rem 1rem;
    }
}
.baiterek-help-block,
label.error{
    color: red;
    font-size: 12px;
}
