footer {
    background: #3b3b3b;
    p,
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        color: #fafafa;
        opacity: 0.5;
        margin: 0;
        text-transform: capitalize;
    }
    h6 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: #ffffff;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    a {
        &:hover {
            color: #ffffff;
            opacity: 1;
        }
    }
    .footer-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        @include MQ(S) {
            flex-direction: column;
        }
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 120px 0;
        @include MQ(S) {
            padding: 50px 0;
            text-align: center;
        }
        .footer-links-li {
            margin-right: 70px;
            &:first-child {
                width: calc(100% / 6);
                @include MQ(L) {
                    width: calc(100% / 3);
                }
                @include MQ(S) {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                @include MQ(L) {
                    padding: 0 100px;
                    margin-bottom: 30px;
                }
                @include MQ(S) {
                    padding: 0;
                }
            }
            &:nth-child(3) {
                width: calc(100% / 8);
                @include MQ(L) {
                    width: calc(100% / 3);
                }
                @include MQ(S) {
                    width: 100%;
                }
            }
            &:nth-child(5) {
                @include MQ(L) {
                    padding: 0 100px;
                }
                @include MQ(S) {
                    padding: 0;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            @include MQ(L) {
                margin-right: 0;
                width: calc(100% / 3);
            }
            @include MQ(S) {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    .footer-logo {
        margin-bottom: 20px;
        @include MQ(S) {
            margin: 20px auto;
            margin-top: 0;
        }
    }
}
