header {
    background: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 999;
    .navbar {
        padding: 3rem 8rem;
        @include MQ(XL) {
            padding: 2rem 5rem;
        }
        @include MQ(L) {
            padding: 2rem 3rem;
        }
        @include MQ(S) {
            padding: 2rem 0;
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: rgb(121, 127, 134);
                padding: 0.5rem 2rem;
                &:hover {
                    color: $primary-color;
                }
            }
            &.active {
                .nav-link {
                    color: $primary-color;
                }
            }
        }
    }
    .profile-language {
        display: flex;
        justify-content: center;
        align-items: center;
        //margin-left: 20px;
        @include MQ(M) {
            position: absolute;
            left: 70%;
            right: auto;
            top: 25px;
            //margin-left: 0;
        }
        @include MQ(S) {
            position: relative;
            margin: 0;
            left: 60%;
            top: 0;
        }
        input[type="search"] {
            //background: url(../../img/search.png) no-repeat 9px center;
            padding: 9px 10px 9px 32px;
            width: 0px;
            -webkit-border-radius: 10em;
            -moz-border-radius: 10em;
            border-radius: 10em;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            background-size: 20px;
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            font-family: inherit;
            font-size: 100%;
            @include MQ(M) {
                display: none;
            }
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button {
                display: none;
            }
            &:focus {
                width: 150px;
                background-color: rgb(255, 255, 255);
                border-color: rgb(0, 128, 61);
                -webkit-box-shadow: 0 0 5px rgba(0, 128, 62, 0.5);
                -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
                box-shadow: 0 0 5px rgba(0, 128, 62, 0.5);
            }
            &:-moz-placeholder {
                color: #797f86;
            }
            &:-moz-placeholder {
                color: transparent;
            }
            &::-webkit-input-placeholder {
                color: #797f86;
            }
            &::-webkit-input-placeholder {
                color: transparent;
            }
        }
        .dropdown-menu {
            background: rgb(255, 255, 255);
            border: 0.5px solid rgb(245, 246, 248);
            box-shadow: 0px 4px 10px rgba(194, 207, 224, 0.35);
            border-radius: 4px;
            margin-top: 8px;
            padding: 0;
            .dropdown-item {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 25px;
                align-items: center;
                letter-spacing: 0.01em;
                color: rgb(121, 127, 134);
                svg {
                    margin-right: 10px;
                }
                &:active {
                    color: rgb(255, 255, 255);
                    background-color: rgba(0, 128, 61, 0.6);
                }
            }
        }
        .profile-dropdown {
            //margin-left: 10px;
            .dropdown-toggle {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 40px;
                    margin: 0 15px;
                    border-radius: 100%;
                    border: 3px solid rgb(0, 128, 61);
                    width: 40px;
                    object-fit: cover;
                }
                span {
                    font-style: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgb(36, 46, 76);
                    font-weight: 500;
                }
                &::after {
                    display: none;
                }
            }
            .dropdown-menu {
                min-width: 15rem;
                left: 2.5rem;
            }
            .dropdown-item {
                padding: 0.8rem 1.5rem;
            }
        }
        .language-dropdown {
            .btn:not(:disabled):not(.disabled).active,
            .btn:not(:disabled):not(.disabled):active {
                background-image: linear-gradient(90deg, rgb(0, 128, 61) 0%, rgb(1, 197, 94) 100%);
            }
            margin-left: 20px;
            .dropdown-toggle {
                background: linear-gradient(90deg, rgb(0, 128, 61) 0%, rgb(1, 197, 94) 100%);
                border-radius: 2px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                border: none;
                padding: 5px 8px;
                &::after {
                    margin-left: 0.2em;
                    vertical-align: 0.2em;
                }
            }
            .dropdown-menu {
                min-width: 5.3rem;
            }
        }
    }
}

.navbar-light {
    .navbar-toggler {
        border-color: rgb(0, 128, 61);
        &:focus {
            border: 1px solid rgb(0, 128, 61);
        }
    }
    .navbar-toggler-icon {
        width: 2.3em;
        height: 2.3em;
        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(4, 131, 65)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }
}
