.hero_banner {
    position: relative;
    background: rgb(0, 128, 61);
    z-index: 6;
    height: 100vh;
    overflow: hidden;

    .slider-content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .content {
            text-align: center;
            width: 900px;
            z-index: 1;

            @include MQ(L) {
                width: 750px;
            }

            @include MQ(M) {
                width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                width: 60%;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: -1;
                border-radius: 50%;
                box-shadow: 20px 0px 20px 20px rgba(255, 255, 255, 0.1);
                background: rgba(255, 255, 255, 0.1);
            }

            h3 {
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 41px;
                color: #ffffff;
                margin: 0;
                text-transform: capitalize;

                @include MQ(S) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            h1 {
                margin: 15px 0;
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                line-height: 74px;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #ffffff;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

                @include MQ(L) {
                    font-size: 50px;
                }

                @include MQ(S) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            p {
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #ffffff;

                @include MQ(S) {
                    font-size: 15px;
                    line-height: 20px;
                }
            }

            button {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                border: 2px solid #ffffff;
                border-radius: 8px;
                padding: 20px;

                @include MQ(L) {
                    font-size: 15px;
                    padding: 15px;
                }
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 70px;

        @include MQ(M) {
            display: none;
        }

        button {
            span {
                font-size: 60px;
                color: rgb(255, 255, 255);
            }

            &:hover {
                background: transparent !important;
            }
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .owl-dot.active span,
    .owl-dot:hover span {
        background: rgb(0, 128, 61) !important;
    }
}

.our_services {
    padding: 6rem 8rem;

    @include MQ(M) {
        padding: 6rem 0rem;
    }

    .search-here {
        //background: url(../../img/search.png) no-repeat 20px center rgb(255, 255, 255);
        width: 700px;
        height: 60px;
        border: 1px solid rgb(229, 229, 229);
        border-radius: 8px;
        margin: 50px auto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 25px;
        text-transform: capitalize;
        color: rgb(121, 127, 134);
        padding-left: 60px;

        @include MQ(M) {
            width: 550px;
        }

        @include MQ(S) {
            width: 100%;
            margin: 30px auto;
        }
    }

    .services-list {
        text-align: center;

        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            li {
                .service-box {
                    width: 375px;
                    height: 259px;
                    border: 2px solid rgba(229, 229, 229, 0.35);
                    box-shadow: 0px 15px 10px rgba(248, 222, 180, 0.1);
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 30px;
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                    position: relative;
                    margin-bottom: 30px;

                    @include MQ(M) {
                        width: 335px;
                    }

                    @include MQ(S) {
                        width: 100%;
                        height: 100%;
                    }

                    .serice-icon {
                        width: 72px;
                        height: 72px;
                        background: #fafafa;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .background-icon {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        visibility: hidden;
                        opacity: 0;
                    }

                    h5 {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 23px;
                        text-transform: capitalize;
                        color: #242e4c;
                        margin: 15px 0;
                    }

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 17px;
                        text-transform: capitalize;
                        color: #242e4c;
                        margin: 0;
                        text-align: left;
                    }

                    &:hover {
                        background: #00803d;
                        box-shadow: 0px 10px 10px rgba(0, 128, 61, 0.1);
                        border-radius: 5px;

                        .serice-icon {
                            background-color: #ffffff;
                        }

                        i:before {
                            color: rgb(10, 166, 85);
                        }

                        h5,
                        p {
                            color: #ffffff;
                        }

                        .background-icon {
                            visibility: visible;
                            opacity: 1;

                            i:before {
                                color: rgba(229, 229, 229, 0.2);
                                font-size: 150px;
                            }
                        }
                    }
                }
            }
        }

        .view-all.btn {
            background: rgb(0, 128, 61);
            border-radius: 5px;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            text-transform: capitalize;
            color: rgb(255, 255, 255);
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
        }
    }
}

.latest_news {
    padding: 3rem 8rem;
    padding-bottom: 0;

    @include MQ(M) {
        padding: 6rem 0rem;
    }

    .news-list {
        margin-top: 8rem;

        ul {
            display: flex;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            flex-wrap: wrap;

            li {
                .news-box {
                    width: 355px;
                    height: 579px;
                    background: rgb(255, 255, 255);
                    border: 1px solid rgba(229, 229, 229, 0.35);
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin-bottom: 30px;
                    margin-right: 30px;

                    @include MQ(XL) {
                        margin-right: 10px;
                    }

                    @include MQ(M) {
                        margin-right: 0px;
                        width: 325px;
                        height: 490px;
                    }

                    @include MQ(S) {
                        width: 100%;
                        height: 100%;
                    }

                    .news-img {
                        height: 263px;

                        @include MQ(M) {
                            height: 200px;
                        }

                        img {
                            border-radius: 5px 5px 0px 0px;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .news-content {
                        padding: 20px;

                        .author-date {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid rgb(229, 229, 229);
                            padding-bottom: 12px;

                            .news-author {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                img {
                                    width: 28px;
                                    height: 28px;
                                    border-radius: 100%;
                                    object-fit: cover;

                                    @include MQ(S) {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }

                                h5 {
                                    margin: 0;
                                    margin-left: 10px;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 14px;
                                    line-height: 16px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    color: rgb(56, 57, 58);

                                    @include MQ(S) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            .news-date {
                                p {
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 16px;
                                    text-align: justify;
                                    color: rgb(121, 127, 134);
                                    margin: 0;
                                    text-transform: capitalize;

                                    @include MQ(S) {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }

                        .news-desc {
                            padding: 20px;

                            h5 {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 24px;
                                line-height: 28px;
                                color: #797f86;
                                margin-bottom: 20px;
                                text-align: left;
                                @include multiLineEllipsis($lineHeight: 28px);

                                @include MQ(XL) {
                                    font-size: 22px;
                                }

                                @include MQ(S) {
                                    font-size: 16px;
                                    line-height: 22px;
                                    margin-bottom: 10px;
                                }
                            }

                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 18px;
                                text-align: justify;
                                color: #c4c4c4;
                                margin: 0;
                                @include multiLineEllipsis($lineHeight: 20px);

                                @include MQ(S) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    transform: translateY(-30px);
                    transition: all 0.4s;
                }
            }
        }
    }
}

.business_div {
    padding: 0 3rem;
    padding-bottom: 5rem;
}

.business-banner {
    //background-image: url(../../img/business-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 430px;
    border-radius: 10px;

    .black-div {
        background: rgb(40, 45, 39);
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        text-align: right;
        padding-right: 100px;

        @include MQ(L) {
            padding-right: 50px;
        }

        @include MQ(S) {
            padding-right: 15px;
            border-radius: 10px;
        }

        h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 41px;
            text-align: right;
            color: rgb(204, 162, 94);
            margin-bottom: 30px;

            @include MQ(L) {
                font-size: 22px;
                line-height: 32px;
            }
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            text-align: right;
            color: rgba(255, 255, 255, 0.79);
            margin: 0;

            @include MQ(L) {
            }

            font-size: 16px;
            line-height: 22px;
        }
    }
}

.fact_cards {
    padding: 5rem 3rem;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        li {
            .fact-box {
                width: 335.69px;
                height: 185px;
                margin-bottom: 30px;
                border-radius: 10px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                margin-right: 20px;
                @include MQ(M) {
                    width: 300.69px;
                    height: 165px;
                }

                @include MQ(S) {
                    width: 100%;
                    height: 100%;
                }

                .number-text {
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    padding: 20px;

                    .fact-number {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 25px;
                        color: rgb(56, 57, 58);
                        margin-bottom: 10px;
                    }

                    .fact-text {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        color: #38393a;
                        margin-bottom: 10px;
                    }
                }

                &.blue-gradient {
                    background: linear-gradient(90deg, #75c9ff 0%, #85eeff 100.09%);
                }

                &.yellow-gradient {
                    background: linear-gradient(90deg, #d8a800 -0.02%, rgba(204, 162, 94, 0.65) 100.07%);
                }

                &.lightgreen-gradient {
                    background: linear-gradient(90deg, #b9d870 -0.04%, rgba(185, 216, 112, 0.65) 100.04%);
                }

                &.green-gradient {
                    background: linear-gradient(90deg, rgba(0, 128, 61, 0.66) -0.07%, rgba(1, 197, 94, 0.74) 100.02%);
                }

                &.purpul-gradient {
                    background: linear-gradient(90deg, #af94d5 -0.09%, #ebb9e6 100%);
                }
            }
        }
    }
}

.fact-box {
    //width: 335.69px;
    //height: 185px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 20px;
    @include MQ(M) {
        width: 300.69px;
        height: 165px;
    }

    @include MQ(S) {
        width: 100%;
        height: 100%;
    }

    .number-text {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 20px;

        .fact-number {
            font-weight: bold;
            font-size: 24px;
            line-height: 25px;
            color: rgb(56, 57, 58);
            margin-bottom: 10px;
        }

        .fact-text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #38393a;
            margin-bottom: 10px;
        }
    }

    &.blue-gradient {
        background: linear-gradient(90deg, #75c9ff 0%, #85eeff 100.09%);
    }

    &.yellow-gradient {
        background: linear-gradient(90deg, #d8a800 -0.02%, rgba(204, 162, 94, 0.65) 100.07%);
    }

    &.lightgreen-gradient {
        background: linear-gradient(90deg, #b9d870 -0.04%, rgba(185, 216, 112, 0.65) 100.04%);
    }

    &.green-gradient {
        background: linear-gradient(90deg, rgba(0, 128, 61, 0.66) -0.07%, rgba(1, 197, 94, 0.74) 100.02%);
    }

    &.purpul-gradient {
        background: linear-gradient(90deg, #af94d5 -0.09%, #ebb9e6 100%);
    }
}

.logos_display {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px -5px 15px #e0e0e0;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin: 0 10px;

            img {
                width: 70px;
                height: 74px;

                @include MQ(S) {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.product_category {
    padding: 6rem 0;

    .category-list {
        margin-top: 62px;

        .search-here {
            border: 1px solid rgb(121, 127, 134);
            box-sizing: border-box;
            border-radius: 5px;
            height: 50px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            text-transform: capitalize;
            color: rgb(36, 46, 76);
            padding: 1rem 2rem;
            margin-bottom: 20px;
            padding-left: 60px;
            //background: url(../../img/search.png) no-repeat 20px center rgb(255, 255, 255);
        }

        .nav-pills {
            .nav-link {
                background: rgb(255, 255, 255);
                border: 2px solid rgba(229, 229, 229, 0.35);
                box-shadow: 0px 15px 10px rgba(248, 222, 180, 0.1);
                border-radius: 5px;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-transform: capitalize;
                color: rgb(36, 46, 76);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 25px;
                margin-bottom: 20px;

                &:hover,
                &.active {
                    background: #00803d;
                    box-shadow: 0px 10px 10px rgba(0, 128, 61, 0.1);
                    color: #ffffff;

                    i {
                        background-color: #ffffff;

                        &::before {
                            color: #00803d;
                        }
                    }
                }

                @include MQ(XL) {
                    font-size: 16px;
                    line-height: 20px;
                }

                i {
                    background-color: rgb(255, 255, 255);
                    width: 45px;
                    height: 45px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                }
            }
        }
    }

    .product-view {
        .view-filter {
            .nav-pills {
                margin-bottom: 20px;

                .nav-item {
                    &:first-child {
                        margin-right: 20px;
                    }

                    .nav-link {
                        background: rgb(255, 255, 255);
                        box-shadow: 0px 2px 4px #e5e5e5;
                        border-radius: 3px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover,
                        &.active {
                            background: #d7ffea;
                        }
                    }
                }
            }
        }

        .grid-view {
            padding-left: 150px;

            @include MQ(XXL) {
                padding-left: 0;
            }

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                li {
                    @include MQ(M) {
                        width: 100%;
                    }

                    .grid-box {
                        background: rgb(255, 255, 255);
                        border: 2px solid rgba(234, 238, 245, 0.35);
                        box-shadow: 0px 15px 10px rgba(248, 222, 180, 0.1);
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 312px;
                        height: 304px;
                        padding: 10px;
                        margin-bottom: 30px;
                        position: relative;
                        z-index: 1;

                        @include MQ(XL) {
                            width: 252px;
                            height: 245px;
                        }

                        @include MQ(L) {
                            width: 230px;
                            height: 230px;
                        }

                        @include MQ(M) {
                            width: 100%;
                            height: auto;
                            padding: 30px 10px;
                        }

                        img {
                            @include MQ(XL) {
                                height: 80px;
                            }

                            @include MQ(L) {
                                height: 70px;
                            }
                        }

                        h5 {
                            font-size: 18px;
                            line-height: 21px;
                            text-align: center;
                            text-transform: capitalize;
                            color: rgb(36, 46, 76);
                            font-weight: 600;
                            margin-bottom: 0;
                            margin-top: 30px;

                            @include MQ(XL) {
                                font-size: 16px;
                                line-height: 20px;
                                margin-top: 25px;
                            }

                            @include MQ(L) {
                                font-size: 14px;
                                line-height: 18px;
                                margin-top: 20px;
                            }
                        }

                        .hover-div {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            background: rgba(255, 255, 255, 0.9);
                            box-shadow: 0px -2px 10px rgba(229, 229, 229, 0.68);
                            border-radius: 0px 0px 5px 5px;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0 0 5px 5px;
                            opacity: 0;
                            transition: all 0.3s ease;
                            height: 0px;
                            z-index: -1;

                            a {
                                border: 2px solid rgb(0, 128, 61);
                                border-radius: 5px;
                                padding: 10px 20px;
                                font-size: 18px;
                                line-height: 21px;
                                text-align: center;
                                text-transform: capitalize;
                                color: rgb(0, 128, 61);
                                margin: 0 10px;
                                background: transparent;
                                margin-bottom: 10px;

                                &.more-btn {
                                    &:hover {
                                        background: rgb(0, 128, 61);
                                        color: #ffffff;
                                    }
                                }

                                &.apply-btn {
                                    background: rgb(0, 128, 61);
                                    color: #ffffff;
                                    // &:hover {
                                    //     color: rgb(0, 128, 61);
                                    //     background: transparent;
                                    // }
                                }
                            }
                        }

                        &:hover {
                            .hover-div {
                                opacity: 1;
                                height: 75px;
                                z-index: 2;
                            }
                        }
                    }
                }
            }
        }
    }
}

.product_detail {
    padding: 6rem 0;
    padding-right: 5rem;
    @include MQ(L) {
        padding-right: 1rem;
    }
    @include MQ(M) {
        padding-right: 0;
    }
    .product-info {
        margin-bottom: 100px;
        @include MQ(M) {
            margin-bottom: 0;
        }
        .product-detail-img {
            img {
                position: absolute;
                height: auto;
                width: auto;
                max-width: 850px;
                left: 0;
                @include MQ(XXL) {
                    max-width: 650px;
                }
                @include MQ(XL) {
                    max-width: 550px;
                }
                @include MQ(L) {
                    max-width: 450px;
                }
                @include MQ(M) {
                    position: relative;
                    max-width: 100%;
                }
            }
        }

        .product-title {
            border-bottom: 1px solid rgba(204, 162, 94, 0.75);
            padding-bottom: 20px;
            margin-bottom: 20px;

            h5 {
                font-size: 36px;
                line-height: 42px;
                text-transform: capitalize;
                color: #242e4c;
                font-weight: 600;
                @include MQ(XL) {
                    font-size: 26px;
                    line-height: 38px;
                }
            }

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-transform: capitalize;
                margin-bottom: 10px;
                color: #242e4c;
                @include MQ(XL) {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            .product-logo-display {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    width: 34.05px;
                    height: 36px;
                    margin-right: 20px;
                }
            }
        }

        .product-desc {
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                color: #242e4c;
                @include MQ(XL) {
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }

        .apply-btn {
            border: 2px solid rgb(0, 128, 61);
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            text-transform: capitalize;
            background: rgb(0, 128, 61);
            color: #ffffff;
            margin: 0 10px;
            margin-bottom: 10px;
        }
        .advice-service-box {
            background: #ffffff;
            border: 2px solid rgba(229, 229, 229, 0.35);
            box-shadow: 0px 15px 10px rgba(248, 222, 180, 0.1);
            border-radius: 5px;
            padding: 30px;
            margin-top: 30px;
            .advice-box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-bottom: 1px solid rgba(204, 162, 94, 0.75);
                padding-top: 10px;
                padding-bottom: 30px;
                h6 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    text-transform: capitalize;
                    color: rgb(36, 46, 76);
                }
                .phone-icon {
                    background: rgba(6, 188, 98, 0.17);
                    width: 81px;
                    height: 81px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 36px;
                    text-transform: capitalize;
                    color: rgb(0, 128, 61);
                    margin: 20px 0;
                }
                .phone-number {
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    text-transform: capitalize;
                    color: rgb(36, 46, 76);
                    margin: 0;
                    font-weight: 700;
                    a {
                        color: inherit;
                    }
                }
            }
            .service-box {
                p {
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    text-transform: capitalize;
                    color: rgb(121, 127, 134);
                    font-weight: 700;
                    margin-top: 30px;
                }
                ul {
                    padding-left: 15px;
                    li {
                        margin-bottom: 10px;
                        //list-style: outside url(../../img/arrow.svg);
                        a {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            text-transform: capitalize;
                            color: rgb(36, 46, 76);
                            &:hover {
                                color: rgb(204, 162, 94);
                            }
                        }
                    }
                }
            }
        }
    }
}
