.login-register {
    min-height: 100vh;
}
.side-banner {
    &.green-gradient {
        background: linear-gradient(90deg, rgba(0, 128, 61, 0.66) -0.07%, rgba(1, 197, 94, 0.74) 100.02%);
    }
    &.blue-gradient {
        background: linear-gradient(90deg, #75C9FF 0%, #85EEFF 100.09%);
    }
    &.yellow-gradient{
        background: linear-gradient(90deg, #D8A800 -0.02%, rgba(204, 162, 94, 0.65) 100.07%);
    }
    .side-banner-content {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .bg-img {
            position: absolute;
            right: -355px;
        }
        .slider {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .slider-text {
                min-height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: 50px;
                h6  {
                    font-size: 18px;
                    line-height: 25px;
                    text-align: center;
                    color: rgb(255, 255, 255);
                    margin-bottom: 10px;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: rgb(255, 255, 255);
                }
            }
            .owl-theme .owl-dots .owl-dot span {
                background: rgba(255, 255, 255, 0.5);
            }
            .owl-theme .owl-dots .owl-dot.active span,
            .owl-theme .owl-dots .owl-dot:hover span {
                background: rgb(255, 255, 255);
            }
        }
    }
    &.right-banner {
        .side-banner-content {
            .bg-img {
                position: absolute;
                left: -350px;
                right: 0;
            }
        }
    }
    @include MQ(S) {
        display: none;
    }
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 100px;
    @include MQ(L) {
        padding: 0 50px;
    }
    @include MQ(M) {
        padding: 0 20px;
    }
    form {
        width: 100%;
    }
    h2 {
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        color: rgb(121, 127, 134);
        margin-bottom: 12px;
        font-weight: 500;
    }
    p {
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        color: rgb(36, 46, 76);
        margin-bottom: 8px;
        font-weight: 500;
        a {
            color: $primary_color;
        }
    }
    form {
        label {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgb(121, 127, 134);
            &.error {
                color: rgb(255, 0, 0);
                font-size: 12px;
            }
        }
        input,select,textarea {
            border: 1px solid rgb(229, 229, 229);
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0);
            font-size: 18px;
            &::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #C4C4C4;
            }
        }
        input,select {
            height: 40px !important;
        }
        .custom-checkbox{
            .custom-control-label{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: rgb(121, 127, 134);
                padding-left: 15px;
                cursor: pointer;
                &::before {
                    background: rgb(255, 255, 255);
                    border: 1px solid rgb(229, 229, 229);
                    border-radius: 3px;
                    width: 20px;
                    height: 20px;
                    top: -3px;
                }
                &::after {
                    top: -3px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: rgb(0, 128, 61);
        }
        .btn {
            background: rgb(0, 128, 61);
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 5px;
            height: 35px;
            border-radius: 3px;
            margin-left: 20px;
            width: 120px;
            border: 1px solid rgb(0, 128, 61);
            &:hover {
                background-color: transparent;
                color: rgb(0, 128, 61);
            }
        }
        .forgot-pswd {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #797F86;
            &:hover {
                border-bottom: 1px solid;
            }
        }
    }
}

.login-sidebar {
    z-index: 1;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto !important;
}
